<wo:PageWrapper title="Name Manager">
	<h1>Name Manager</h1>

	<wo:form>
		<p>
			<label for="nameField">Enter a name:</label><br/>
			<wo:textfield value="$nameInput" id="nameField" />
			<wo:submitButton value="Add Name" action="$addName" />
		</p>
	</wo:form>

	<wo:conditional condition="$names.size">
		<h2>Names List:</h2>
		<ul>
			<wo:repetition list="$names" item="$currentName">
				<li><wo:hyperlink action="$viewName"><wo:string value="$currentName" /></wo:hyperlink></li>
			</wo:repetition>
		</ul>
	</wo:conditional>

	<wo:conditional condition="$names.size" negate="true">
		<p><em>No names added yet.</em></p>
	</wo:conditional>
</wo:PageWrapper>
