<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>Name Detail</title>
</head>
<body>
	<h1>Name Detail</h1>

	<p>Selected name: <strong><wo:string value="$selectedName" /></strong></p>

	<p><wo:hyperlink action="$backToMain">← Back to Name Manager</wo:hyperlink></p>
</body>
</html>